<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.charts">

  <application
      android:name=".vitaldaten.di.ChartsApp"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity android:name=".main.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".hausdaten.HausActivity" />
    <activity android:name=".vitaldaten.prensentation.ui.VitalActivity" />
    <activity android:name=".hausdaten.water.presentation.ui.WaterActivity" />
    <activity android:name=".hausdaten.abrechnung.AbrechnungActivity"/>
    <activity android:name=".vitaldaten.weight.presentation.ui.WeightActivity" />
    <activity android:name="com.example.charts.vitaldaten.settings.SettingsActivity"/>
    <activity android:name=".vitaldaten.bloodpressure.presentation.ui.BloodPressureActivity"/>
    <activity android:name=".vitaldaten.bloodsugar.BloodSugarActivity"/>
  </application>

</manifest>